.about_section {padding: 60px 0; width: 100%; display: flex; justify-content: center;}
.about_text__box {width: 600px; text-align: justify;}
.about_span {font-weight: 600; font-size: 22px; font-family: 'Courier New', Courier, monospace; text-align: center; margin-bottom: 20px}